body {
    width: 100%;
    height: 100%;
    text-align: center;
    background-position: center;
    background-image: url(../img/index-bg.jpg);
    background-image: cover;
    background-attachment: fixed;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: aliceblue;
    -webkit-font-smoothing: antialiased;

    display: grid;

    grid-template-areas:
        "header"
        "main"
        "foot";
    grid-template-rows: 6em 2fr 0.5em;
}