.body {
    width: 100%;
    height: 100%;
    text-align: center;
    background-position: center;
    background-image: url(../img/index-bg.jpg);
    font-family: $fuente;
    color: map-get($colores, textColor);
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "foot";
    grid-template-rows: 6em 2fr 2em;

    a {
        // Piso el estilado de bs
        text-decoration: none !important;
        color: map-get($colores, textColor) !important;

        &:hover {
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-image: map-get($colores , gradientColor);
            background-clip: text;
            color: transparent;
        }
    }

}