.navbar-brand {
    font-size: 1.5em;
    font-weight: bold;
    color: map-get($colores , textColor);
    margin: 0 1em;
    letter-spacing: 5px;

    &:hover {
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-image: map-get($colores , gradientColor);
        background-clip: text;
        color: transparent;
    }
}

.navbar {
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.nav-link {
    color: map-get($colores , textColor) !important;
}

.nav-item {
    margin: 0 2em;
    list-style: none;
    font-size: 1em;
    margin: 0 2em;
    text-decoration: none;
    position: relative;
    font-weight: bold;

    &:hover {
        color: map-get($colores , textColor);
    }

    &:after {
        bottom: -4px;
        content: "";
        display: block;
        height: 2px;
        left: 0;
        position: absolute;
        background: map-get($colores , gradientColor);
        opacity: 0.6;
        transition: width 0.3s ease 0s, opacity 0.3s ease 0s;
        width: 0;
    }

    &:hover:after {
        width: 100%;
        opacity: 0.9;
    }
}

.nav-link:hover {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: map-get($colores , gradientColor);
    background-clip: text;
    color: transparent;
}

@media (max-width: 320px) {
    .navbar-brand {
        font-size: 1.4em;
    }
}