.fadeTop {
    @extend %moves;
    transform: translate(0, 10vh);
}

.fadeRight {
    @extend %moves;
    transform: translate(10vh, 0vh);
}

.fadeLeft {
    @extend %moves;
    transform: translate(-10vh, 0vh);
}

.visible {
    opacity: 1;
    transform: translate(0, 0);
}