#index-body {
    width: 100%;
    height: 100%;
    text-align: center;
    overflow: hidden;
}

#particles-js {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    background-position: center;
    z-index: -1;
}

#index-title {
    position: relative;
    top: 50%;
    margin: 10%;
    color: #F9F1E9;
    font-size: 5em;
}

#index-btn {
    min-width: 12em;
    min-height: 3em;
    font-size: 1.5em;
    letter-spacing: 0.2em;
    font-weight: 700;
    color: rgba(79, 92, 209, 0.64);
    background: linear-gradient(90deg, rgb(205, 205, 243) 0%, rgb(203, 247, 242) 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 5px 20px 100px rgba(79, 92, 209, 0.64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
}

button::before {
    content: '';
    border-radius: 1000px;
    min-width: calc(12em + 0.5em);
    min-height: calc(3em + 0.5em);
    border: 6px solid #ffffff;
    box-shadow: 0 0 60px rgba(238, 255, 252, 0.64);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
}

button:hover,
button:focus {
    color: rgba(79, 92, 209, 0.64);
    transform: translateY(-6px);
}

button:hover::before,
button:focus::before {
    opacity: 1;
}

/* --- PAGES --- */

body {
    width: 100%;
    height: 100%;
    text-align: center;
    background-position: center;
    background-image: url(../img/index-bg.jpg);
    background-image: cover;
    background-attachment: fixed;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: aliceblue;
    -webkit-font-smoothing: antialiased;

}

/* --- Header --- */

header {
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 10%;
    position: fixed;
    top: 0;
}

.header-navbar ul {
    display: flex;
}

.header-navbar li {
    margin: 0 2em;
    list-style: none;
}

.header-title {
    font-size: 2em;
    font-weight: bold;
    color: #fff;
    margin: 0 2em;
    letter-spacing: 5px;
}

.header-title:hover {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(80deg, #008cff, #00ffd5);
    background-clip: text;
    color: transparent;
}

.navbar-item {
    color: #fff;
    font-size: 20px;
    margin: 0px 30px 0px 30px;
    text-decoration: none;
    position: relative;
}

.navbar-item:after {
    bottom: -4px;
    content: "";
    display: block;
    height: 2px;
    left: 0;
    position: absolute;
    background: linear-gradient(80deg, #008cff, #00ffd5);
    opacity: 0.6;
    transition: width 0.3s ease 0s, opacity 0.3s ease 0s;
    width: 0;
}

.navbar-item:hover:after {
    width: 100%;
    opacity: 0.9;
}

video {
    width: 50%;
    height: auto;
    margin: 0 auto;
    display: block;
    border-radius: 10px;
    border: solid 2px rgba(0, 0, 0, 5);
}

/* --- Titulo --- */

.titulo {
    font-size: 4em;
    font-weight: bold;
    letter-spacing: 5px;
    text-align: center;
    margin: 8rem 0 3rem;
}

.titulo-info {
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: 5px;
    text-align: center;
    margin: 1em;
}

/* -- Servicios -- */

#servicio-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.servicio-item-container {
    width: 50%;
    height: 400px;
    opacity: 2px;
    border-radius: 10px;
    box-shadow: 0px 0px 50px #000;
    justify-content: center;
    text-align: center;
    margin: 50px 50px 92px;
    transition: .2s all;
}

.servicio-info {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    margin: 30px 0;
}

.servicio-img {
    margin-top: 25px;
    width: 400px;
    height: 250px;
    border: #000 solid 1px;
    border-radius: 10px;
}

#servicio-container:hover .servicio-item-container {
    filter: blur(3px);
    opacity: .5;
    transform: scale(.98);
    box-shadow: none;
}

#servicio-container:hover .servicio-item-container:hover {
    transform: scale(1.1);
    filter: blur(0px);
    opacity: 1;
    box-shadow: 0px 0px 50px #000;
}

/* -- Eventos -- */

#eventos-container {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}

.evento-card {
    display: flex;
    width: 80%;
    height: 33%;
    margin: 20px auto;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    padding: 30px;
}

.evento-titulo {
    font-size: 30px;
    word-spacing: 5px;
    text-align: center;
    color: #fff;
    padding-bottom: 25px;
}

.evento-description {
    padding: 50px;
    font-size: 20px;
    word-spacing: 5px;
    text-align: center;
    width: 50%;
    color: #fff;
}

.event-button-container {
    position: relative;
    margin-top: 50px;
}

.event-button {
    margin: 20px auto;
    width: 30%;
    height: 50px;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #fff;
    color: #000;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
}

.event-button:hover {
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
        0 0 25px #03e9f4,
        0 0 50px #03e9f4,
        0 0 100px #03e9f4;
}

/* TODO */
/* MODIFICAR IDS O CAMBIAR CLASS SEGUN LA IMAGEN */

#evento-img1 {
    height: 400px;
    width: 30%;
    margin: 0 auto;
    border-radius: 10px;
}

#evento-img2 {
    height: 400px;
    width: 30%;
    margin: 0 auto;
    border-radius: 10px;
}

#evento-img3 {
    height: 400px;
    width: 30%;
    margin: 0 auto;
    border-radius: 10px;
}

/* -- Videos -- */

#videos-container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.video {
    width: 40%;
    height: 600px;
    margin: 10px auto;
    border-radius: 10px;
    border-radius: 10px;
    border: solid 2px rgba(0, 0, 0, 5);
}

/* -- Contacto -- */

fieldset {
    width: 40%;
    height: 100%;
    padding: 30px;
    margin: 0 auto;
    background: rgba(0, 0, 0, .5);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 1);
    border-radius: 10px;
}

fieldset p {
    margin-bottom: 50px;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
}

fieldset label input {
    width: 100%;
    padding: 15px 0;
    font-size: 1em;
    color: #fff;
    margin-bottom: 100px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
    margin: 15px auto;
}


textarea {
    width: 100%;
    height: 124px;
    margin: 15px auto;
    padding: 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}

#submit {
    width: 20%;
    height: 50px;
    margin: 10px auto 0px;
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid #fff;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    cursor: pointer;
}

#submit:hover {
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
        0 0 25px #03e9f4,
        0 0 50px #03e9f4,
        0 0 100px #03e9f4;
}


/* -- Footer -- */

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 5%;
    color: #fff;
    padding: 1em;
    bottom: 0;
    margin-top: 3rem;
}

.footer-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    padding: 0 1em;
    letter-spacing: 5px;
}

.footer-title:hover {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(80deg, #008cff, #00ffd5);
    background-clip: text;
    color: transparent;
}

.footer-menu {
    display: flex;
    font-size: 30px;
}

.footer-item {
    padding: 0 1em;
    list-style: none;
}

.footer-item a:hover {
    color: #03e9f4;
}

.autor {
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
}

.github {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(60deg, #7affd3, #00ffd5);
    background-clip: text;
    color: transparent;
}