body {
    /* background-image: url("../img/background-desktop.jpg"); */
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 100vh;

}

/* TESTTTTTTTTTTTTTTTTT */
.large-header {
    position: relative;
    width: 100%;
    background: #111;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    z-index: 1;
}

.demo .large-header {
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/499416/demo-bg.jpg");
}

.main-title {
    position: absolute;
    margin: 0;
    padding: 5;
    color: #F9F1E9;
    text-align: center;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-40%, -30%, 0);
    transform: translate3d(-40%, -30%, 0);
}

.demo .main-title {
    text-transform: uppercase;
    font-size: 2.2em;
    letter-spacing: 2.1em;
}

.main-title .thin {
    font-weight: 200;
}

@media only screen and (max-width: 768px) {
    .demo .main-title {
        font-size: 3em;
    }
}

/* --- Header --- */

header {
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100vw;
    height: 10%;
}

.header-navbar ul {
    display: flex;
}

.header-navbar li {
    margin: 0 2em;
    list-style: none;
}

.header-title {
    font-size: 2em;
    font-weight: bold;
    color: #fff;
    margin: 0 2em;
    letter-spacing: 5px;
}

video {
    width: 600px;
    height: 400px;
    margin: 0 auto 50px;
    display: block;

}

/* --- Titulo --- */

.titulo {
    font-size: 4em;
    font-weight: bold;
    letter-spacing: 5px;
    text-align: center;
    margin: 2rem 1rem;
}

.titulo-info {
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: 5px;
    text-align: center;
    margin: 3em;
}

/* -- Servicios -- */

#servicio-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.servicio-item-container {
    width: 30%;
    height: 80%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #000;
    justify-content: center;
    text-align: center;
    margin: 20px;
}

.servicio-info {
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-top: 20px;
}

.servicio-img {
    margin-top: 25px;
    width: 300px;
    height: 200px;
    border: #000 solid 1px;
    border-radius: 10px;
}

/* -- Eventos -- */

#eventos-container {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}

.evento-card {
    display: flex;
    width: 100%;
    height: 33%;
    margin: 20px auto;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    padding: 10px;
}

.evento-titulo {
    font-size: 30px;
    word-spacing: 5px;
    text-align: center;
    color: #fff;
    padding-bottom: 25px;
}

.evento-description {
    padding: 20px;
    font-size: 20px;
    word-spacing: 5px;
    text-align: center;
    width: 50%;
    color: #fff;
}

.event-button-container {
    position: relative;
    margin-top: 50px;
}

.event-button {
    margin: 0 auto;
    width: 30%;
    height: 50px;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #fff;
    color: #000;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 5px;
    cursor: pointer;
}

/* TODO */
/* MODIFICAR IDS O CAMBIAR CLASS SEGUN LA IMAGEN */

#evento-img1 {
    height: 300px;
    width: 50%;
    margin: 0 auto;
    border-radius: 10px;
}

#evento-img2 {
    height: 300px;
    width: 50%;
    margin: 0 auto;
    border-radius: 10px;
}

#evento-img3 {
    height: 300px;
    width: 50%;
    margin: 0 auto;
    border-radius: 10px;
}


/* -- Footer -- */

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 5%;
    color: #fff;
    padding: 1em;
    position: relative;
    bottom: 0;
}

.footer-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    padding: 0 1em;
    letter-spacing: 5px;
}

.footer-menu {
    display: flex;
    font-size: 30px;
}

.footer-item {
    padding: 0 1em;
    list-style: none;
}

.autor {
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
}

.github {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(60deg, #7affd3, #00ffd5);
    background-clip: text;
    color: transparent;
}